.section-blog {
	padding-top: 100px;
}

.entry {
	width: 85%;
	max-width: 650px;
	margin: 0 auto 100px;

	ul {
		list-style-type: circle;
	}

	ul, ol {
		margin-left: 45px;
	}

	ol {

	}

	img, iframe {
		display: block;
		margin: 24px auto;
		@include box-shadow(0 1px 3px rgba(0,0,0,.25));
		@include border-radius(5px);
	}

	img {
		padding: 1px;
	}

	figure {
		margin: 24px -50px;
	}

	p:first-child {
		font-weight: bold;
	}
}

#disqus_thread iframe, .entry .no-shadow {
	@include box-shadow(none);
}

.entry--title {
	text-align: center;
	@include rem(font-size, 42);
	line-height: 1.3;
	// @include rem(line-height, 40);
	margin: 0 4% 30px;
	font-weight: normal;

	&, a {
		color: $silverDark;
	}
}

.entry--date {
	@include font-size(15);
	margin-bottom: 30px;
}