.section-blog {
	padding-top: 100px;
}

.entry {
	width: 85%;
	max-width: 650px;
	margin: 0 auto 100px;
	word-wrap: break-word;

	ul {
		list-style-type: circle;
	}

	ul, ol {
		margin-left: 45px;
	}

	img, iframe {
		display: block;
		margin: 24px auto;
		@include box-shadow(0 1px 3px rgba(0,0,0,.25));
		@include border-radius(5px);
	}

	img {
		padding: 1px;
	}

	p:first-child {
		font-weight: bold;
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 400;
	}
}

#disqus_thread iframe, .entry .no-shadow {
	@include box-shadow(none);
}

#disqus_thread iframe {
	margin-left: 0;
}

.entry--title {
	text-align: center;
	@include rem(font-size, 30);
	line-height: 1.3;
	margin: 0 0 15px;
	font-weight: normal;

	&, a {
		color: $silverDark;
	}

	a:hover {
		color: #d14;
	}

}

.entry--date {
	@include font-size(15);
	margin-bottom: 15px;
}


// ==================
// === Pagination ===
// ==================
.pagination {
	width: 85%;
	max-width: 650px;
	margin: 20px auto 40px;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid #ddd;

	a {
		margin: 0 10px;
	}
}

// === 550px> ===
@media screen and (min-width: 550px) {
	.entry--title {
		@include rem(font-size, 42);
		margin: 0 4% 30px;
	}
	.entry--date {
		margin-bottom: 30px;
	}
}
// === end 550px> ===

// === 790px> ===
@media screen and (min-width: 790px) {
	.entry {
		figure, iframe, .gist {
			margin-left: -48px;
			width: 115% !important;
		}
	}
}
// === end 790px> ===