.section-blog {
	// padding-top: 100px;
}

.entry {
	width: 85%;
	max-width: 650px;
	margin: 0 auto 100px;

	ul {
		list-style-type: circle;
		margin-left: 45px;
	}

	p a {
		color: $green;
	}

	img, iframe {
		display: block;
		margin: 24px auto;
		@include box-shadow(0 1px 3px rgba(0,0,0,.25));
		@include border-radius(5px);
		// border: 1px solid $silver;

	}

	img {
		padding: 1px;
	}
	figure {
		margin: 24px -50px;
	}

	p:first-child {
		font-weight: bold;
	}
}

.entry--title {
	text-align: center;
	color:$silverDark;
	@include rem(font-size, 32);
	@include rem(line-height, 40);
	margin: 0 4% 30px;
}

.entry--date {
	@include font-size(15);
	margin-bottom: 30px;
}