html {
	border: ($common-spacing / 2) solid $color-frame;
	background-color: $color-background;
	font-family: times, serif;

	@media screen and (min-width: 600px) {
		border-width: $common-spacing;
	}

	&:before,
	&:after {
		content: '';
		position: fixed;
		right: 0;
		left: 0;
		height: ($common-spacing / 2);
		background-color: $color-frame;
		z-index: 1000;

		@media screen and (min-width: 600px) {
			height: $common-spacing;
		}
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
		left: 0;
	}
}

main {
	overflow: hidden;
}

.l-container {
	width: 90%;
	max-width: 35rem;
	margin: 0 auto;
}

.header {
	text-align: center;
	background-color: $color-frame;
	padding: 3rem 0;

	h1 {
		margin: 0;
	}
}

.content {
	padding-top: 2rem;
	padding-bottom: 2rem;

	&--article {
		a:not([class]) {
			border-bottom: 2px solid $color-link-hover-alt;
			padding: 1px 3px;
			word-wrap: break-word;

			&:hover {
				background-color: $color-link-hover-alt;
			}
		}
	}
}

img:not(.emoji) {
	max-width: calc(100% + 100px);
	left: -50px;
	position: relative;
}

.emoji {
	width: 35px;
	vertical-align: middle;
}

.full,
div.highlighter-rouge {
	position: relative;

	&--dark {
		background-color: $color-primary;
		color: #fff;
		padding-top: 2rem;
		padding-bottom: 2rem;

		&:before,
		&:after {
			background-color: $color-primary;
		}

	}

	&--code {
		background-color: $color-frame;

		&:before,
		&:after {
			background-color: $color-frame;
		}
	}


	&:before,
	&:after {
		content: '';
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	&:before {
		right: 100%;
	}

	&:after {
		left: 100%;
	}
}

div.highlighter-rouge {
	background-color: $color-pre-background;

	&:before,
	&:after {
		background-color: $color-pre-background;
	}
}

.contentList {}

.contentList-group {
	@include respond-min(600) {
		display: flex;
	}

	& + & {
		margin-top: 4rem;
	}
}

.contentList-group-year {
	@include respond-min(600) {
		width: 25%;
	}
}

.contentList-group-items {
	margin: 0;
	padding: 0;
	list-style-type: none;

	@include respond-min(600) {
		width: 75%;
	}
}

.contentList-group-items-item {
	display: block;
	padding: .4em 0;
	border-bottom: 1px solid;

	&:first-child {
		border-top: 1px solid;
	}

	a {
		display: flex;
		justify-content: space-between;
		text-decoration: none;
	}

	time {
		white-space: nowrap;
		opacity: .5;
		font-size: 80%;
		margin-left: 20px;
	}
}

.sectionHeading {
	@include respond-min(600) {
		margin-left: 25%;
	}
}
