/* ==========================================================================
   Global app/site styles
   ========================================================================== */
html,
body {
	@include respond-min($breakpoint-single-col) {
		height: 100%;
	min-height: 100%;
	}
}
body {
	background-color: $color-background;
	margin-top: 60px;

	@include respond-min($breakpoint-nav-switch) {
		margin-left: 100px;
		margin-top: 0;

		&.post {
			margin-left: 0;
		}
	}
}

@keyframes wiggle {
	25% {transform:rotate(-7deg);}
	75% {transform:rotate(7deg);}
}


::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	margin: 10px 10px 10px 0;
	background-color: darken($color-background, 10%);
}
::-webkit-scrollbar-thumb {
	background: #666;
	cursor: pointer;
}

.aboutMe {
	padding: 2em 1em;
	border-top: 2px solid $color-link-hover-alt;
	border-bottom: 2px solid $color-link-hover-alt;

	p {
		margin-bottom: 0;
	}
}
