/* ==========================================================================
   Global app/site styles
   ========================================================================== */
html,body {
	@include respond-min($breakpoint-single-col) {
		height: 100%;
	}
}
body {
	background-color: $color-background;
	padding-top: 60px;
}


/*
   Overlay
   ========================================================================== */
.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: $link-transition;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.overlay--dark {
	background-color: rgba(#000, 0.8);
}

::-webkit-scrollbar {
	width: 10px;
	// background-color: $red;
	margin: 10px 10px 10px 0;
	background-color: #fff;
	right: 5px;
}
// ::-webkit-scrollbar-button {
// 	background-color: $blue;
// }
::-webkit-scrollbar-track {
	&:hover {
		width: 20px;
	}
}
::-webkit-scrollbar-track-piece  {

}
::-webkit-scrollbar-thumb {
	background: #444;
	cursor: pointer;
	// border-radius: 20px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
::-webkit-scrollbar-corner       {

}
::-webkit-resizer                {

}
