@mixin project-colours($projectID, $bgColour, $textColour, $linkColour, $linkHover) {

	#{$projectID}.portfolio-pieces--item {
		background-color: $bgColour;
		color: $textColour;

		h1, h1 a {
			color: $textColour;
		}

		a {
			color: $linkColour;

			&:hover {
				// color: $linkHover;
				color: lighten($linkColour, 20%);
			}
		}
	}

}

// @include project-colours('#id', $bgColour, $textColour, $linkColour, $linkHover);

// Portfolio
@include project-colours('#lynx-apollo', #000, #fff, #4d8aa7, #fff);
@include project-colours('#brother-campaigns', #031962, #fff, #F12EA1, #fff);
@include project-colours('#knorr-mobile', #009242, #fff, #F6DA3F, #fff);
@include project-colours('#drinkiq', #96C3AC, #1e4833, #803B22, #fff);
@include project-colours('#purple-magazine', #B14798, #fff, #000, #fff);
@include project-colours('#novalux', #0D204A, #fff, #41efdd, #fff);
@include project-colours('#novalux-logo', #0D9B8C, #fff, #042d29, #fff);
@include project-colours('#datasift', #51709A, #fff, #FF9933, #fff);
@include project-colours('#colette', #114695, #fff, #76C9A7, #fff);
@include project-colours('#shift-4', #FE0C24, #fff, #000, #fff);
@include project-colours('#conversocial', #4A9BDC, #000, #fff, #fff);
@include project-colours('#sohofixed', #023766, #fff, #0587ff, #fff);
@include project-colours('#sohofixed-identity', #000, #eee, #555, #fff);

// Code
@include project-colours('#choreographic-grid', $silver, #fff, $linkColorHover, #fff);
@include project-colours('#kickoff', #fe7d06, #fff, #fff, #fff);
@include project-colours('#javascript-less-links', $blue, #fff, #fff, #fff);
@include project-colours('#validatr', $yellow, #000, #000, #000);

// Sublime resources
@include project-colours('#sublime-text-setup', #222, #f1f1f1, #777, #fff);
@include project-colours('#sass-snippets', #be67d1, #fff, #000, #fff);
@include project-colours('#jquery', #2c6ca7, #fff, #fff, #fff);
@include project-colours('#placeholders', #f8d498, #a95d0e, #d87712, #fff);
@include project-colours('#html5', #d25b40, #fff, #fff, #fff);



#choreographic-grid {
	background-image: url('#{$imgUIPath}/bg-grid.png');
	background-position: center top;
}

#lynx-apollo {
	background-image: url('#{$imgPath}/projects/lynx-apollo/stars.jpg');
	background-position: center top;
}