// ====================
// === BUTTONS.scss ===
// ====================
.btn {
	display:inline-block;
	vertical-align:middle;
	white-space:nowrap;
	font-family:inherit;
	font-size:100%;
	cursor:pointer;
	border:0 !important;
	margin:0;
	padding-top: 0;
	padding-bottom:0;
	padding: .5em 1.5em !important;
	overflow:visible;
	text-align: center;
	background-color: $btn-background;
	user-select: none;

	&, &:hover, &:active, &:focus, &:visited {
		text-decoration: none;
	}

	&:active,
	&:focus {
		outline: none;
		box-shadow:0 0 5px rgba(0, 0, 0, .5) inset;
	}

	// Disabled state
	&.disabled,
	&[disabled] {
		cursor: default;
		background-image: none;
		opacity: .65;
		box-shadow: none;
	}
}
