// =======================
// === APP.scss        ===
// === Your app styles ===
// =======================
@-webkit-keyframes z-fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes z-fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes z-fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes z-fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}


body {
	overflow-y: scroll;
	padding-top: 40px;

	&.home {
		padding-top: 0;
	}

	-webkit-animation: z-fade-in 1s; /* Safari 4+ */
	   -moz-animation: z-fade-in 1s; /* Fx 5+ */
	     -o-animation: z-fade-in 1s; /* Opera 12+ */
	        animation: z-fade-in 1s; /* IE 10+ */
}

a {
	@include transition();
}

// === Hero ===
.hero-unit {
	padding: 80px 0;
	background: #fff url(/img/ui/avatar-short.jpg) no-repeat;
	@include prefixer(background-size, cover, webkit ms o moz spec);
	color: darken($silver, 25%);
}

.hero-unit-inner {
	max-width: 600px;
	margin: 0 2%;

	:first-child {
		margin-top: 0;
	}
	:last-child {
		margin-bottom: 0;
	}
}

.hero-unit 	.hero-unit-inner-name {
	color: $accentColor;
}

// === MASTHEAD ===
.masthead {
	&.site,
	&.stuck,
	&.docked {
		position: fixed;
		left: 0;top: 0;right: 0;
		z-index: 100;
	}

	&.home {
		.masthead-content {
			position: absolute;
			left: 0; right: 0;
		}
	}

	&.home.stuck {
		.masthead-content {
			position: static;
		}
	}
}
.masthead-content {
	color: $mastheadTextColor;
	text-align: center;
	z-index: 1;
	height: 0;
	overflow: hidden;
	@include transition(all 250ms cubic-bezier(0.770, 0.000, 0.175, 1.000));
}

.masthead,
.masthead-content,
.hero-unit,
.nav {
	background-color: $accentColor;
}

.masthead,
.hero-unit {

	h1 {
		margin: 20px 0;
		@include font-size(32);
		@include line-height(40);
		text-transform: uppercase;
	}

	p {
		margin-bottom: 0;
	}
}

@mixin alt-link($normal: $silverDark, $hover: #d14) {
	a, a:link, a:visited {
		color: $normal;
	}
	a:hover {
		color: $hover;
	}
}

.nav {
	padding: 10px 0;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	@include font-size(16);
	height: 40px;
	color: $mastheadTextColor;

	a, .zm-logo {
		vertical-align: top;
		@include user-select(none);
	}

	@include alt-link($mastheadTextColor, $mastheadHoverColor);

	a.is-active {
		padding-top: 3px;
		padding-left: 3px;
		padding-right: 3px;
		color: $mastheadHoverColor;
	}
}



.zm-logo {
	margin: 0 20px;
	display: inline-block;
	cursor: pointer;
	font-weight: 500;
	z-index: 100;
	width: 30px;
	height: 20px;

	&.is-active,
	&:hover {
		.zm-logo-item {
			fill: $mastheadHoverColor;
		}
	}
}

.more-info {
	z-index: 1000;
	padding-bottom: 8px;
}


// === Icon links ===
.icon-links {
	text-align: center;

	a {
		position: relative;
		display: inline-block;
		min-height: 40px;
		padding: 0 20px;
		font-family: 'entypo-social';
		@include font-size(110);
		font-weight: 400;
		line-height: 0.5;
		height: 75px;
		vertical-align: top;
		overflow: hidden;

		&:hover {
			color: $mastheadHoverColor;
			z-index: 1;
		}
	}

	i {
		font-style: normal;
	}

	span {
		display: none;
		position: absolute;
		@include opacity(0);
	}

}

a.personal-links--twitter {
	color: $mastheadTextColor;
}
a.personal-links--github {
	color: $mastheadTextColor;
}


a.personal-links--email {
	color: $green;
}
a.personal-links--appnet {
	color: #717171;
}
a.personal-links--instagram {
	color: #33628A;
}
a.personal-links--dribbble {
	color: #c12d6d;
}
a.personal-links--tumblr {
	color: #2f4662;
}
a.personal-links--pinboard {
	color: #e93f37;
}
a.personal-links--stackoverflow {
	color: #fa9a00;
}



// ================
// === ARTICLES ===
// ================
$portfolioColWidth: 48%;
$portfolioSideMargin: 0;
$portfolioSidePadding: 13%;

.portfolio-pieces--item {
	position: relative;
	margin: 0px $portfolioSideMargin 0px 0;
	background-color: #fff;
	overflow: hidden;

	.inner-wrap {
		width: 100%;
		max-width: 1350px;
		margin: 0 auto;
	}

	&:nth-child(even) {
		margin-left: $portfolioSideMargin;
		margin-right: 0;
	}
}

.portfolio-pieces--item--inner {
	position: relative;
	padding: 5% 3% 0;
}

.portfolio-pieces--item--inner--title {
	margin-bottom: 0;
	margin-top: 0;
	color: $accentColor;
	text-transform: uppercase;
	@include font-size(30);
	line-height: 1.3;
	text-align: center;
}
.portfolio-pieces--item--inner--site-url {
	margin-bottom: 6%;
}

.portfolio-pieces--item--description {
	margin-bottom: $baseLineHeight;

	p:last-child {
		margin-bottom: 0;
	}
}

.portfolio-pieces--item--info {
	margin-bottom: $baseLineHeight;

	p:last-child {
		margin-bottom: 0;
	}

	ul {
		margin: 20px 20px 20px 0;

		li {
			position: relative;
			@include clearfix;
		}

		b {
			position: absolute;
			width: 110px;
		}

		div {
			margin-left: 120px;
		}
	}
}

.portfolio-pieces--item--shots {
	position: relative;
	margin: 0 3%;
	position: relative;
	// @extend %clearfix;
	@include user-select();
	@include vendor-prefix(perspective, 500px);
	@include vendor-prefix(backface-visibility, none);

	p {
		margin-bottom: 0;
	}

	figure {
		position: relative;
		text-align: center;
		margin-bottom: 3%;
		@include border-radius(5px 5px 0 0);
		@include transition(all .5s ease-out);
		@include vendor-prefix(backface-visibility, hidden);
		@include vendor-prefix(transform-style, preserve-3d);

		.type-website & {
			border-bottom: none;

			img {
				display: block;
				position: relative;
				@include transition();
				@include border-radius(5px);
				border: 2px solid $bodyBackground;
			}
		}

		img {
			@include box-shadow(0 0px 7px rgba(0,0,0,.25));
			@include border-radius(5px);
			// border-bottom-width: 0;
			background-color: #fff;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		&.shot-1, &.shot-2, &.shot-hidden {
			display: none;
		}

		&:hover {
			z-index: 100 !important;
		}
	}

}

.launch {
	position: absolute;
	top: 200px;
	left:50%;
	display: none;
	width: 180px;
	margin-left: -90px;
	opacity: 0;
	z-index: 4;
	display: inline-block;
	border: 4px #fff solid;
	padding: 10px 0;
	color: #fff !important;
	font-weight: 700;
	@include border-radius(4px);

	&:hover {
		border-color: #000;
		background-color: #000;
	}
}

// ============================
// === Different shot types ===
// ============================
.layout-stacked {
	figure {
		margin: 0 auto 3%;
	}

	img {
		margin: 0 auto;
	}
}



// ===================
// === Site search ===
// ===================
.site-search {
	margin: 30px;
}
.site-search-input {
	@include border-radius(50px);
	width: 260px;
	height: 40px;
}

// ===========================================
// === Media queries for responsive design ===
// ===========================================

// === $mid> ===
@media screen and (min-width: $mid) {
	.masthead, .hero-unit {
		h1 {
			@include rem(font-size, 40);
			line-height: 1.2;
		}
	}

	.hero-unit-inner {
		margin: 0 auto;
	}
}
// === end $mid> ===


// === $wide> ===
@media screen and (min-width: $wide) {
	.portfolio-pieces--item--inner {
		padding: 5% $portfolioSidePadding;
	}

	.portfolio-pieces--item--inner--title {
		@include font-size(50);
	}

	.portfolio-pieces--item--shots {
		margin: 0 4%;
		@include rem(max-height, 500);

		.type-logo & {
			max-height: none;
		}

		@include vendor-prefix(transform-style, preserve-3d);
		@include transition(all 0.4s ease-in-out);

		&.is-expanded {
			@include rem(max-height, 9999);
		}

		figure {
			margin-bottom: 0;

			&.shot-1, &.shot-2 {
				display: block;
			}
		}

	}

	.layout-mobile-two-up {
		margin-bottom: -3%;

		figure {
			width: 48%;

			&:hover {
				@include transform(rotateY(0deg));
			}
		}

		.shot-0 {
			float: left;

			@include transform(rotateY(8deg));
			@include vendor-prefix(transform-origin, 0 0);
		}

		.shot-1 {
			float: right;

			@include transform(rotateY(-8deg));
			@include vendor-prefix(transform-origin, right 0);
		}
	}

	.layout-mobile-three-up {
		figure {
			width: 30%;

			&:nth-child(even) {
				width: 60%;
			}
		}

		.shot-1 {
			float: right;
		}
	}

	.layout-desktop-two-up {
		position: relative;

		figure {
			width: 80%;

			&.shot-0 {
				position: relative;

				// left: 0%;
				// top: 0%;
				// z-index: 2;
				img {
					@include transform(rotateY(0deg));
				}
			}

			&.shot-1 {
				position: absolute;
				top: 10%;
				left: 20%;
				// text-align: right;

				img {
					@include transform(rotateY(-10deg));
					@include vendor-prefix(transform-origin, right 0);
					// display: inline;
				}
			}

			&.shot-hidden {
				position: static;
				display: block;
			}
		}
	}

	.layout-desktop-three-up {
		position: relative;

		figure {
			width: 80%;
			cursor: pointer;

			&.shot-0 {
				position: absolute;
				top: 13%;
				left: 0%;
				z-index: 0;
				img {
					@include transform(rotateY(18deg));
					@include vendor-prefix(transform-origin, 0 0);
					@include opacity(70);
				}

				&:hover img {
					@include transform(rotateY(0deg));
					z-index: 100;
				}
			}

			&.shot-1 {
				position: relative;
				top: 0%;
				left: 0%;
				// margin: 0 auto;
				z-index: 200;
				margin: 0 auto;
				img {
					@include transform(rotateY(0deg));
					@include vendor-prefix(transform-origin, 0 0);
					@include opacity(100);
				}
			}

			&.shot-2 {
				position: absolute;
				top: 13%;
				left: 20%;
				z-index: 0;

				img {
					@include transform(rotateY(-18deg));
					@include vendor-prefix(transform-origin, right 0);
					@include opacity(70);
				}

				&:hover {
						z-index: 100;
					img {
						@include transform(rotateY(0deg));
					}
				}
			}

			&.shot-hidden {
				position: static;
				display: block;
			}
		}

	}

	.layout-stacked {
		figure {
			margin: 0 auto;
		}

		figure + figure {
			margin-top: 4%;
		}
	}

	.type-logo figure {
		margin: 0 auto 4%;
	}

	.layout-responsive {
		position: relative;

		.desktop-shot {
			width: 90%;
		}

		.mobile-shot {
			position: absolute;
			right: 0;
			top: 10%;
			// width: 320px;
			max-width: 30%;
		}
	}
}
// === end $wide> ===


// === $wider> ===
@media screen and (min-width: $wider) {

	.portfolio-pieces--item {

		.inner-wrap {
			width: 90%;
		}
	}

	.portfolio-pieces--item--description {
		float: left;
		width: $portfolioColWidth;
		margin-bottom: 0;
	}

	.portfolio-pieces--item--info {
		float: right;
		width: $portfolioColWidth;
		margin-bottom: 0;

		ul {
			margin-top: 0;

			b {
				text-align: right;
			}
		}
	}
}
// === end $wider> ===
