// ================================
// === RESPONSIVE-UTLITIES.scss ===
// ================================

img {
	max-width: 100%;
}
// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
	display: none;
	visibility: hidden;
}

// Visibility utilities

// For desktops
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.visible-desktop   { } // Don't set initially
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }
