.icon-ZM-masthead { background-image: url('png/ZM-masthead.png'); background-repeat: no-repeat; }

.icon-ZM { background-image: url('png/ZM.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-kickoff-logo { background-image: url('png/kickoff-logo.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

