.nav--masthead {
	text-align: right;

	.nav-link {
		margin-left: 1rem;
	}
}

.nav--footer {

	.nav-link {
		margin-right: 1rem;
	}
}

.nav-link {
	display: inline-block;

	&.is-active {
		color: $color-secondary;
	}
}


/**
 * Nav social
 */

.navSocial {
	margin-top: 1rem;
}

.navSocial-link {
	margin-right: 1rem;
}

.navSocial-link-icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	fill: $color-primary;

	&:hover {
		fill: $color-secondary;
	}
}
