---
layout: home
title: Zander Martineau
---
		<section class="home-primary clearfix">
			<section class="me">
				<div class="me-logo icon-ZM"></div>
				<h1 class="me-name">Zander Martineau</h1>
				<h2 class="me-desc">Creative Technologist, London</h2>
			</section>
			<section class="entries entries--latest clearfix">
				{% for post in site.posts limit:3 %}
					{% if post.post-type == 'link' %}
						<a href="{{ post.link-to }}" title="Read {{post.title}}" class="listingEntry listingEntry--home listingEntry--external">
					{% else %}
						<a href="{{post.url}}" title="Read {{post.title}}" class="listingEntry listingEntry--home">
					{% endif %}
							<div class="overlay overlay--img" style="background-image: url(/img/latestentries/latestentry-0{{forloop.index}}.jpg)"></div>
							<div class="overlay overlay--dark"></div>
							<time class="listingEntry-date">{{post.date | date_to_string}}</time>
							<h1 class="listingEntry-title">{{post.title}}</h1>
							<p class="listingEntry-excerpt">{{post.excerpt}}</p>
							<h3 class="listingEntry-cta">Read now</h3>
						</a>
				{% endfor %}
			</section>
		</section>
		<a href="/blog" class="visitBlog">
			<div class="overlay overlay--img" style="background-image: url(/img/latestentries/latestentry-02.jpg)"></div>
			<div class="overlay overlay--dark"></div>
			<div class="visitBlog-copy">Read more posts in the blog</div>
		</a>

		<section class="work">
			<h1 class="workTitle text-centre">Selected Work</h1>

			{% for post in site.work order:meta.date %}
				<article class="piece" id="{{post.meta.name}}">
					<div class="piece-inner piece-inner--{{post.meta.layout}}">
						<h1 class="piece-title">{{post.title}}</h1>
						<h3 class="piece-url ellipsis">
							{% if post.view.url %}
								<a href="{{post.view.url}}" title="Go to {{post.view.text}}">{{post.view.text}}</a>
							{% else %}
								{{post.view.text}}
							{% endif %}
						</h3>

						<div class="piece-infoContainer clearfix">
							<div class="piece-infoContainer-desc">
								{{post.content | markdownify}}
							</div>

							<div class="piece-infoContainer-info clearfix">
								<ul class="piece-info-list unstyled">
									<li class="piece-info-list-item">
									<b class="piece-info-list-item-key">Date:</b>
									<div class="piece-info-list-item-value">{{post.meta.date}}</div></li>
									<li class="piece-info-list-item">
									<b class="piece-info-list-item-key">Skills:</b>
									<div class="piece-info-list-item-value">{{post.meta.skills}}</div></li>
									{% for credit in post.credits %}
										<li class="piece-info-list-item">
										<b class="piece-info-list-item-key">{{credit.title}}:</b>
										<div class="piece-info-list-item-value ellipsis">
										{% if credit.url %}
											<a href="{{credit.url}}">{{credit.name}}</a>
										{% else %}
											{{credit.name}}
										{% endif %}
										</div></li>
									{% endfor %}
									{% if post.github %}<li class="piece-info-list-item">
										<b class="piece-info-list-item-key">Github:</b>
										<div class="piece-info-list-item-value ellipsis"><a href="https://github.com/{{post.github.user}}/{{post.github.repo}}">github.com/{{post.github.user}}/{{post.github.repo}}</a></div></li>{% endif %}
								</ul>

								{% if post.github %}
									<div class="github-details">
										<iframe src="http://ghbtns.com/github-btn.html?user={{post.github.user}}&repo={{post.github.repo}}&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="30"></iframe>
										<iframe src="http://ghbtns.com/github-btn.html?user={{post.github.user}}&repo={{post.github.repo}}&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="30"></iframe>
									</div>
								{% endif %}
							</div>
						</div>

						<div class="piece-shots piece-shots--{{post.meta.layout}}">
							{% if post.images %}
								{% for img in post.images %}
									<figure class="piece-shots-shot piece-shots-shot--{{img.type}} piece-shots-shot--0{{forloop.index}}{% if post.meta.layout == 'icon' %} icon-{{img.class}}{% endif %}">
										{% if post.meta.layout != 'icon' %}
											<img src="/img/projects/{{post.meta.name}}/{{img.src}}" alt="{{img.caption}}" class="piece-shots-shot-img">
										{% endif %}
									</figure>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</article>
			{% endfor %}
		</section>
