---
layout: default
title: The personal site of Zander Martineau, a front-end developer from London
section: home
pageid: home
---

<main>
	{% include header.html name=site.name %}

	<div class="l-container content">

		<h2 class="sectionHeading">Articles</h2>
		<div class="contentList">
			{% assign posts = site.posts %}
			{% include posts-by-year.html %}
		</div>

		<h2 class="sectionHeading">Code</h2>
		<div class="contentList">
			{% assign posts = site.code %}
			{% include posts.html %}
		</div>

		<h2 class="sectionHeading">Projects</h2>
		<div class="contentList">
			{% assign posts = site.work %}
			{% include posts.html %}
		</div>
	</div>
</main>
