---
layout: default
title: Style guide
---
<main role="main">
	{% include header.html title=page.title %}

	<div class="l-container">

		<!-- Logo -->
		<div class="sg-page">
			<h2 class="sg-sectionHeading">Logo</h2>
			<svg class="logo-icon"><use xlink:href="#icon-zmLogo"></use></svg>
		</div>


		<!-- Swatches -->
		<div class="sg-page">
			<h2 class="sg-sectionHeading">Swatches</h2>

			<div class="sg-swatches">
					{% include swatch.html var="color-primary" %}
					{% include swatch.html var="color-secondary" %}
					{% include swatch.html var="color-highlight" %}
					{% include swatch.html var="color-text" %}
					{% include swatch.html var="color-bg" %}
					{% include swatch.html var="color-border" %}
					{% include swatch.html var="color-link-default" %}
					{% include swatch.html var="color-link-hover" %}
			</div>

		</div>


		<!-- Typography -->
		<div class="sg-page">
			<h2 class="sg-sectionHeading">Typography</h2>

			<!-- Headings -->
			<h3 class="sg-interfaceType sg-interfaceType--subtle">Primary typeface</h3>
			<h4 class="sg-interfaceType sg-interfaceType--subtle">Colfax by Process Type Foundry</h4>
			<div class="g g--stack--wide">
				<div class="g-span4 g-col sg-typeSpecimen sg-typeSpecimen--primary sg-typeSpecimen--giant">
					ABC
				</div>

				<div class="g-span8 g-col">
					<div class="sg-typeSpecimen sg-typeSpecimen--primary">ABCDEFGHIJKLMNOPQRSTUVWXYZ <br>
						abcdefghijklmnopqrstuvwxyz <br>
						0123456789 (.,:;?!£$@*&)
					</div>
				</div>
			</div>

		</div>


		<!-- Typography examples -->
		<div class="sg-page">
			<h2 class="sg-sectionHeading">Typography examples</h2>
			<div class="g g--stack--wide">
				<div class="g-span6 g-col l-mb1">
					<h3 class="sg-interfaceType sg-interfaceType--subtle">Headings</h3>
					<h1>Heading 1</h1>
					<h2>Heading 2</h2>
					<h3>Heading 3</h3>
					<h4>Heading 4</h4>
					<h5>Heading 5</h5>
					<h6>Heading 6</h6>
				</div>
				<div class="g-span6 g-col">
					<h3 class="sg-interfaceType sg-interfaceType--subtle">Paragraphs</h3>
					<p>Donec sed odio dui. Curabitur <a href="">blandit tempus</a> porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur <b>purus sit amet fermentum</b>.</p>
					<p>Donec sed odio dui. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet fermentum.</p>
				</div>
			</div>

			<h3 class="sg-interfaceType sg-interfaceType--subtle">Typeface sizes</h3>
			<div class="g g--stack--wide">
				<div class="g-span6 g-col">
					<div class="sg-type sg-type-micro"><div class="sg-type-item">Zander</div></div>
					<div class="sg-type sg-type-smallest"><div class="sg-type-item">Zander</div></div>
					<div class="sg-type sg-type-smaller"><div class="sg-type-item">Zander</div></div>
					<div class="sg-type sg-type-small"><div class="sg-type-item">Zander</div></div>
					<div class="sg-type sg-type-base"><div class="sg-type-item">Zander</div></div>
				</div>
				<div class="g-span6 g-col">
					<div class="sg-type sg-type-mid"><div class="sg-type-item">Zander</div></div>
					<div class="sg-type sg-type-large"><div class="sg-type-item">Zander</div></div>
					<div class="sg-type sg-type-jumbo"><div class="sg-type-item">Zander</div></div>
				</div>
			</div>
		</div>


		<!-- Components -->
		<!-- <div class="sg-page">
			<h2 class="sg-sectionHeading">Components</h2>

			<h3 class="sg-interfaceType sg-interfaceType--subtle">Buttons</h3>

			<div class="sg-spacer">
				<a href="#" class="btn">Normal button</a>
			</div>

			<div class="sg-spacer">
				<a href="#" class="btn btn--primary">Primary button</a>
			</div>
		</div> -->


		<!-- Icons -->
		<div class="sg-page">
			<h2 class="sg-sectionHeading">Icons</h2>

			<h3 class="sg-interfaceType sg-interfaceType--subtle">Interface icons</h3>
			<div class="g">
				<div class="g-col">
					<div class="icon-sg">
						<svg class="navSocial-link-icon icon-twitter">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
						</svg>
					</div>
				</div>
				<div class="g-col">
					<div class="icon-sg">
						<svg class="navSocial-link-icon icon-github">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
						</svg>
					</div>
				</div>
				<div class="g-col">
					<div class="icon-sg">
						<svg class="navSocial-link-icon icon-npm">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-npm"></use>
						</svg>
					</div>
				</div>
				<div class="g-col">
					<div class="icon-sg">
						<svg class="navSocial-link-icon icon-instagram">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
						</svg>
					</div>
				</div>
			</div>

			<h3 class="sg-interfaceType sg-interfaceType--subtle">Favicons</h3>

			<div class="sg-favicon">
				<img src="/assets/img/favicons/favicon.png" alt="" width="16">
				<code>16x16</code>
			</div>
			<div class="sg-favicon">
				<img src="/assets/img/favicons/favicon.png" alt="" width="32">
				<code>32x32</code>
			</div>
			<div class="sg-favicon">
				<img src="/assets/img/favicons/favicon.png" alt="" width="60">
				<code>60x60</code>
			</div>
			<div class="sg-favicon">
				<img src="/assets/img/favicons/favicon.png" alt="" width="152">
				<code>152x152</code>
			</div>
		</div>


		<!-- Please add more to this to keep your styleguide useful -->

		<!-- Add more here :) -->
		<!-- <div class="sg-page">
			<h2 class="sg-sectionHeading">More stuff</h2>
		</div> -->


	</div>
</main>
