/**
 * Global app/site styles
 */
html {
	border: ($common-spacing / 2) solid $color-frame;
	background-color: $color-bg;

	@include respond-min(mid) {
		border-width: $common-spacing;
	}

	&:before,
	&:after {
		content: '';
		position: fixed;
		right: 0;
		left: 0;
		height: ($common-spacing / 2);
		background-color: $color-frame;
		z-index: $z-frame;

		@include respond-min(mid) {
			height: $common-spacing;
		}
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
		left: 0;
	}
}

body {
	background-color: $color-bg;
}

/**
 * Default layout container
 */
.l-container {
	width: 80%;
	max-width: 35rem;
	margin: 0 auto;
}

main {
	overflow: hidden;
}

.content {
	padding-top: 2rem;
	padding-bottom: 2rem;

	&--article {
		a:not([class]) {
			padding: 1px 3px;
			word-wrap: break-word;

			// Fancy underlines
			@include fancyLinks($color-secondary, $color-bg);
		}
	}

	// img:not(.emoji) {
	// 	max-width: calc(100% + 100px);
	// 	left: -50px;
	// 	position: relative;
	// }
}


.sectionHeading {
	@include respond-min(mid) {
		margin-left: 25%;
	}
}

.offsetAnchor {
	&:before {
		content: '';
		display: block;
		content: " ";
		height: ($common-spacing + 30);  /* Give height of your fixed element */
		margin-top: -($common-spacing + 30); /* Give negative margin of your fixed element */
		visibility: hidden;
	}
}


// Kickoff
.kickoffLogo {
	width: 220px;
	height: 62px;
	margin: 0 auto 1rem;
	display: block;

	@include respond-min(mid) {
		width: 300px;
		height: 150px;
	}
}
