@mixin project-colours($projectID, $bgColour, $textColour, $linkColour, $linkHover) {
	#{$projectID}.piece {
		background-color: $bgColour;
		color: $textColour;

		.piece-title,
		.piece-title a {
			color: $textColour;
		}

		a:not([class]) {
			color: $textColour;
			@include fancyLinks($textColour, $bgColour);
		}

		a:hover,
		a:active {
			color: $linkColour;
		}
	}
}

// Usage:
// @include project-colours('#id', $bgColour, $textColour, $linkColour, $linkHover);

// Portfolio
@include project-colours('#depdoc', rgb(28, 28, 28), #d3d0c8, #66cccc, #fff);
@include project-colours('#trak', #2d2d2d, #d3d0c8, #66cccc, #fff);
// @include project-colours('#techtmw', #181830, #3498db, #fe7c08, #b95801);
@include project-colours('#goenergyshopping', #d22a81, #fff, #E0FF3E, #fff);
@include project-colours('#kickoff', $kickoff-blueLt, #fff, #FE7C08, darken(#FE7C08, 10%));
@include project-colours('#strepsils-starmoments', #d22740, #fff, #E0FF3E, #fff);
@include project-colours('#lynxafrica', #00723B, #fff, #fff, #fff);
// @include project-colours('#lynxafrica', #00723B, #fff, #fff, #fff);
@include project-colours('#barilla', #001e43, #ffcc33, #fff, #c80c18);
@include project-colours('#thebar', #ff5e00, #000, #fff, #000);
@include project-colours('#lynx-apollo', #000, #fff, #4d8aa7, #fff);
@include project-colours('#brother-campaigns', #031962, #fff, #F12EA1, #fff);
// @include project-colours('#knorr-mobile', #009242, #fff, #F6DA3F, #fff);
@include project-colours('#drinkiq', #96C3AC, #1e4833, #803B22, #fff);
// @include project-colours('#purple-magazine', #B14798, #fff, #000, #fff);
@include project-colours('#novalux', #0D9B8C, #fff, #042d29, #fff);
@include project-colours('#datasift', #51709A, #fff, #FF9933, #fff);
@include project-colours('#colette', #114695, #fff, #76C9A7, #fff);
@include project-colours('#shift-4', #FE0C24, #fff, #000, #fff);
@include project-colours('#conversocial', #4A9BDC, #000, #fff, #fff);
@include project-colours('#sohofixed', #536077, #fff, #000, #fff);

// Code
// @include project-colours('#choreographic-grid', $color-text, #fff, $color-link-hover, #fff);
// @include project-colours('#javascript-less-links', $blue, #fff, #fff, #fff);

// Sublime resources
// @include project-colours('#sublime-text-setup', #222, #f1f1f1, #777, #fff);
// @include project-colours('#sass-snippets', #be67d1, #fff, #000, #fff);
// @include project-colours('#jquery', #2c6ca7, #fff, #fff, #fff);
// @include project-colours('#placeholders', #f8d498, #a95d0e, #d87712, #fff);
// @include project-colours('#html5', #d25b40, #fff, #fff, #fff);



// #choreographic-grid {
// 	background-image: url('#{$img-path}/ui/bg-grid.png');
// 	background-position: center top;
// }

#lynx-apollo {
	background-image: url('#{$img-path}/projects/lynx-apollo/stars.jpg');
	background-position: center top;
}
