<div class="aboutMe">
	<p>I'm Zander, a front-end developer from London. I work at <a href="//tmwunlimited.com">TMW</a> as a Creative Technology Lead. When I'm not working there I can usually be found hacking on <a href="//trykickoff.com">Kickoff</a> or other open source projects as <a href="//github.com/mrmartineau">@MrMartineau</a> on Github. Have a look around, <a href="/#articles">read some articles</a>, or get in contact with me in any of the usual ways – it'd be great to hear from you.</p>
</div>
