<footer role="contentinfo" class="footer text-centre">
	<p>I'm Zander Martineau, a Creative Technologist at TMW. Have a look around, read some posts, checkout my <a href="/" title="View Zander's portfolio">portfolio</a> or contact me in any of the usual ways – it'd be great to hear from you.</p>

	<div class="footer-links g g--alignCenter">
		<a href="http://twitter.com/mrmartineau" title="Follow Zander on Twitter" class="footer-links-icon g-col">
			<svg><use xlink:href="#icon-twitter"></use></svg>
			<span class="is-visuallyHidden">Twitter</span>
		</a>

		<a href="http://github.com/mrmartineau" title="View Zander's open source code on Github" class="footer-links-icon g-col">
			<svg><use xlink:href="#icon-github"></use></svg>
			<span class="is-visuallyHidden">Github</span>
		</a>

		<a href="https://www.npmjs.com/~mrmartineau" title="View Zander's npm packages" class="footer-links-icon g-col">
			<svg><use xlink:href="#icon-npm"></use></svg>
			<span class="is-visuallyHidden">npm</span>
		</a>

	</div>
</footer>
