<footer role="contentinfo" class="footer">
	<div class="l-container">
		{% include aboutme.html %}

		<div class="footer-links">
			<a href="http://twitter.com/mrmartineau" title="Follow Zander on Twitter" class="footer-links-item">Twitter</a>
			/
			<a href="http://github.com/mrmartineau" title="View Zander's open source code on Github" class="footer-links-item">Github</a>
			/
			<a href="https://www.npmjs.com/~mrmartineau" title="View Zander's npm packages" class="footer-links-item">npm</a>
			/
			<a href="/styleguide" title="View this site's style guide" class="footer-links-item">Style guide</a>
			/
			<a href="http://github.com/mrmartineau/martineau.tv" title="Fork this site's source code" class="footer-links-item">Source</a>
		</div>
	</div>
</footer>
