<footer role="contentinfo" class="footer">
	<div class="l-container">
		<h2>👋</h2>
		{{ site.bio | markdownify }}

		<hr class="hr--short">

		{% include nav.html class="nav--footer" extras=true %}

		<nav class="navSocial">
			<a href="http://twitter.com/mrmartineau" title="Follow Zander on Twitter" class="navSocial-link">
				<svg class="navSocial-link-icon icon-twitter">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
				</svg>
			</a>

			<a href="https://instagram.com/mrmartineau" title="View Zander's npm packages" class="navSocial-link">
				<svg class="navSocial-link-icon icon-instagram">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
				</svg>
			</a>

			<a href="http://github.com/mrmartineau" title="View Zander's open source code on Github" class="navSocial-link">
				<svg class="navSocial-link-icon icon-github">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use>
				</svg>
				<span class="is-visuallyHidden">Github</span>
			</a>

			<a href="https://www.npmjs.com/~mrmartineau" title="View Zander's npm packages" class="navSocial-link">
				<svg class="navSocial-link-icon icon-npm">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-npm"></use>
				</svg>
			</a>

			<a href="https://libraries.io/github/mrmartineau" title="View Zander's on Libraries.io" class="navSocial-link">
				<svg class="navSocial-link-icon icon-libsio">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-libsio"></use>
				</svg>
			</a>
		</nav>

	</div>
</footer>
