<header class="header l-container {{ include.class }}" {% if include.img %}style="background-image:url({{ include.bg }})"{% endif %}>
	<div class="header-inner">

		{% if include.title %}
			<h1 class="header-title p-name" itemprop="headline">{{ include.title }}</h1>
		{% endif %}

		{% if include.logo %}
			<svg class="header-logo"><use xlink:href="#icon-zmLogo"></use></svg>
		{% endif %}

		{% if include.avatar %}
			<div class="avatar avatar--lrg">
				<img src="/assets/dist/img/about/avatar.jpg" alt="" class="is-visuallyHidden" aria-label="hidden">
			</div>
		{% endif %}

		{% if include.subtitle %}
			<h2 class="header-subtitle p-summary">{{ include.subtitle }}</h2>
		{% endif %}

		{% if include.img %}
			<div class="header-img" style="background-image: url({{ include.img }});"></div>
		{% endif %}

		{% if page.path contains '_posts' %}
			<div class="header-meta">
				<time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published">{{ page.date | date_to_long_string }}</time>
				{% if page.original %}
					&bull; Originally posted at <a href="{{ page.original.url }}">{{ page.original.text }}</a>
				{% endif %}
				<meta itemprop="datePublished" content="{{ page.date | "%Y-%m-%d" }}">
			</div>
		{% endif %}
	</div>
	<hr class="hr--short">
</header>
