<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% assign title = page.title %}

		{% if page.path contains '_posts' %}
			{% assign section = ' - an article by {{ site.myname }}' %}
		{% endif %}

		<title>{{ title }}{{ section }}</title>

		{% if page.excerpt
			%}<meta name="description" property="og:description" content="{{ title }} - {{ page.excerpt }}">
			<meta name="twitter:description" content="{{ title }} - {{ page.excerpt }}" />
		{% elsif page.path contains '_work' %}
			%}<meta name="description" property="og:description" content="Development & design work by {{ site.myname }}">
		{% else
			%}<meta name="description" property="og:description" content="{{ site.myname }} - Front-end developer from London">{%
		endif %}
		<meta name="author" itemprop="creator" content="{{ site.myname }} <{{ site.email }}>">

		{% if page.original %}
		<link rel="canonical" href="{{page.original.url}}" />
		{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/dist/css/kickoff.css">
		{% if page.path contains 'styleguide' %}
			<link rel="stylesheet" href="/assets/dist/css/styleguide.css">
		{% endif %}

		<!-- Mobile & Fav Icons -->
		<link rel="shortcut icon" type="image/x-icon" href="/assets/dist/img/favicon/favicon.png" >
		<meta name="apple-mobile-web-app-title" content="martineau.tv">

		<meta property="og:site_name" content="{{ site.myname }}'s portfolio and blog" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://martineau.tv{{page.url}}" />
		<meta property="og:locale" content="en_GB" />
		<meta name="twitter:site" content="@mrmartineau">

	</head>
