<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% assign title = page.title %}

		{% if page.section == 'blog' %}
			{% if page.type == 'article' %}
				{% assign section = ' - an article by Zander Martineau' %}
			{% else %}
				{% assign section = ' - articles by Zander Martineau' %}
			{% endif %}
		{% endif %}
		<title>{{ title }}{{ section }}</title>
		
		{% if page.excerpt 
		%}<meta name="description" property="og:description" content="{{ page.excerpt }}">
		<meta name="twitter:description" content="{{ page.excerpt }}" />
	{% elsif page.section == 'work' 
		%}<meta name="description" property="og:description" content="Web and design work by Zander Martineau">
	{% else 
		%}<meta name="description" property="og:description" content="This site belongs to Zander Martineau">{%
		endif %}
		
		{% if page.original %}
		<link rel="canonical" href="{{page.original.url}}" />
		{% endif %}
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/kickoff.css">

		<!-- Mobile & Fav Icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicons/zm-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicons/zm-114.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicons/zm-72.png">
		<link rel="apple-touch-icon-precomposed" href="/img/favicons/zm-57.png">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-title" content="martineau.tv">

		<meta property="og:site_name" content="Zander Martineau's portfolio and blog" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://martineau.tv{{page.url}}" />
		<meta property="og:locale" content="en_GB" />
		<meta name="twitter:site" content="@mrmartineau">

		{% if page.section == 'blog' %}
			{% if page.comments %}
				<script>
					{% if page.comments_old %}
						var disqus_shortname = 'rathersplendidblog';
					{% else %}
						var disqus_shortname = 'martineau-tv';
					{% endif %}
					{% if page.comments_id %}
						var disqus_identifier = '{{ page.comments_id }}'; // required: replace example with your forum shortname
					{% endif %}
				</script>
			{% endif %}
		{% endif %}
	</head>
