<header id="masthead" class="masthead">

	<a href="/" class="logo">
		<svg class="logo-icon"><use xlink:href="#icon-zmLogo"></use></svg>
		<span>Zander Martineau</span>
	</a>

	<a href="/#articles" class="masthead-link{% if page.section == 'blog' or page.layout == 'post' %} is-active{% endif %}">Articles</a>

	<a href="/#projects" class="masthead-link{% if page.section == 'work' %} is-active{% endif %}">Projects</a>

	<a href="/#kickoff" class="masthead-link{% if page.section == 'work' %} is-active{% endif %}">Kickoff</a>

	<a href="/#code" class="masthead-link{% if page.section == 'work' %} is-active{% endif %}">Code</a>

</header>
