<nav class="nav {{ include.class }}" role="navigation">
	<a href="/#articles" class="nav-link{% if page.path contains '_posts' %} is-active{% endif %}">Articles</a>

	<a href="/work" class="nav-link{% if page.section == 'work' %} is-active{% endif %}">Work</a>

	<a href="/kickoff" class="nav-link">Kickoff</a>

	{% if include.extras %}
		<a href="/styleguide" title="View this site's style guide" class="nav-link">Style guide</a>

		<a href="http://github.com/mrmartineau/zander.wtf" title="Fork this site's source code" class="nav-link">Source</a>

	{% endif %}
</nav>
