{% comment %}<!--
Collate_posts helper
Usage:
	1) assign the 'posts' variable to a valid array of posts.
	2) include archive
	example:
		{% assign posts = site.posts %}
		{% include posts %}

	Ordering:
		Posts are displayed in reverse chronological order.
		For normal chronological order:
			1) Change the for loop to this:
				=> 'for post in site.posts reversed'
			2) Next make sure to change 'post.previous.date' to:
				=> 'post.next.date'

-->{% endcomment %}

<div class="contentList-group">
	<aside class="contentList-group-year"></aside>
	<ul class="contentList-group-items">

	{% for post in posts reversed %}
		<li class="contentList-group-items-item">
			{% if post.post-type == 'link' %}
				<a class="infoLink" href="{{ post.link-to }}" title='Go to "{{post.title}}"'>
			{% else %}
				<a class="infoLink" href="{{post.url}}" title='Read "{{post.title}}"'>
			{% endif %}
				<div class="infoLink-content">{{post.title}}</div>
				<time class="infoLink-date">{{post.date | date: "%b %Y" }}</time>
			</a>
		</li>
	{% endfor %}

	</ul> <!-- /contentList-group-items -->
</div> <!-- /contentList-group -->
{% assign posts = nil %}
