.entries,
.entries--latest {
	@include respond-min($breakpoint-single-col) {
		height: 100%;
	}
}

.entries {
	@include respond-min($breakpoint-single-col) {
		min-height: 550px;
	}
}

.entries--latest {
	@include respond-min($breakpoint-single-col) {
		float: left;
		width: 69%;
	}
}

.entries--blog {
	@include respond-min($breakpoint-single-col) {
		display: flex;
	}
}
