.navFull {
	display: none;
	position: fixed;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($color-text, 0.9);
	z-index: 99;
	color: $color-background;

	text-align: center;
	padding: 20px 20px;
	overflow: auto;

	@include respond-min($breakpoint-mid) {
		padding: 40px 5%;
	}

	&, a:link, a:visited {
		color: $color-background;
		font-weight: bold;
		text-transform: uppercase;
	}
	a:hover, a:active {
		color: $yellow;
	}

	&.is-active {
		display: block;
	}

	a {
		@include font-size(30);
	}

	@include respond-min($breakpoint-mid) {
		a {
			@include font-size(50);
		}
	}
}

.navTop {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	text-align: right;
	line-height: 60px;
	padding: 0px 20px;
	z-index: 100;
	background-color: #fff;
}

.navTop-ZM {
	position: absolute;
	left: 20px;
	top: 15px;
	min-width: 46px;
	height: 30px;
	background-size: contain;

	span {
		opacity: 0;
		margin-left: 55px;
		line-height: 30px;
		transition: $link-transition;
		vertical-align: top;
	}

	&:hover {
		span {
			opacity: 1;
		}
	}
}


/*
   Nav Button
   ========================================================================== */
.navBtn {
	display: inline-block;
	border-radius: 6px;
	border: 2px solid $color-text;
	padding: 5px 3px;
	margin-left: 20px;
	// position: absolute;
	// top: 15px;
	// left: 15px;
	z-index: 100;
	font-size: 0;
	line-height: 1;
	// transition: $link-transition;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0 0 0 2px #fff;

	i {
		width: 11px;
		height: 11px;
		border-radius: 15px;
		border: 2px solid $color-text;
		margin: 0 4px;
		display: inline-block;
	}

	&:hover {
		background-color: $color-text;

		i {
			border-color: #fff;
		}
	}
}
