.navBtn {
	border-radius: 6px;
	border: 2px solid #000;
	padding: 5px 3px;
	position: fixed;
	top: 15px;
	left: 15px;
	z-index: 100;
	font-size: 0;
	line-height: 1;
	// transition: $link-transition;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0 0 0 2px #fff;

	i {
		width: 11px;
		height: 11px;
		border-radius: 15px;
		border: 2px solid #000;
		margin: 0 4px;
		display: inline-block;
	}

	&:hover {
		background-color: #000;

		i {
			border-color: #fff;
		}
	}
}

.masthead {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#000, 0.85);
	z-index: 99;
	color: #fff;

	text-align: center;
	padding: 60px 20px;
	overflow: auto;

	@include respond-min($breakpoint-mid) {
		padding: 5%;
	}

	&, a:link, a:visited {
		color: #fff;
	}
	a:hover, a:active {
		color: $yellow;
	}
}

.masthead-section {
	margin-top: 2%;
}

.nav {
	&, a:link, a:visited {
		font-weight: bold;
		text-transform: uppercase;
	}

	a {
		display: block;
		@include font-size(30);
	}

	@include respond-min($breakpoint-mid) {
		a {
			@include font-size(50);
		}
	}
}
