.full,
div.highlighter-rouge {
	position: relative;
	clear: both;

	&:before,
	&:after {
		content: '';
		width: 200%;
		position: absolute;
		top: 0;
		bottom: 0;
	}

	&:before {
		right: 100%;
	}

	&:after {
		left: 100%;
	}

	&--dark {
		background-color: $color-primary;
		color: $bright;
		padding-top: 2rem;
		padding-bottom: 2rem;

		&:before,
		&:after {
			background-color: $color-primary;
		}

	}

	&--code {
		background-color: $color-frame;

		&:before,
		&:after {
			background-color: $color-frame;
		}
	}

	&--kickoff {
		background-color: $kickoff-blue;
		color: $kickoff-orange;
		padding: $common-spacing 0;
		margin-bottom: -2rem;

		&:before,
		&:after {
			background-color: $kickoff-blue;
		}

		a:not([class]) {
			color: $kickoff-orange;
			/* @include fancyLinks($bright, $kickoff-blue); */

			&:hover {
				color: $bright;
			}
		}
	}

	&--projects {
		/* background-color: darken($color-bg, 35%); */
		color: $orange;
		padding: $common-spacing 0;

		&:before,
		&:after {
			/* background-color: darken($color-bg, 35%); */
		}

		a:not([class]) {
			color: $orange;
			/* @include fancyLinks($bright, darken($color-bg, 35%)); */

			&:hover {
				color: $bright;
			}
		}
	}
}

div.highlighter-rouge {
	background-color: $pre-bgColor;

	&:before,
	&:after {
		background-color: $pre-bgColor;
	}
}
