/**
 * Links
 */

a {
	transition: $default-transition;
	cursor: url(/assets/img/cursors/middle-finger@0,5x.png) 10 2, pointer !important;

	&, &:link, &:visited {
		color: $color-text;
		text-decoration: none;
	}

	&:hover, &:focus {
		color: $color-link-hover;
	}

	&:active {
		color: $color-link-active;
	}
}

.pagination {}

.pagination-btn {
	/* @include fancyLinks($color-secondary, $color-bg); */
	margin-right: 1rem;
}

p a {
	&, &:link, &:visited {
		color: $color-link-default;
		border-bottom: 2px solid transparent;
		text-decoration: none;
	}

	&:hover, &:focus {
		border-bottom: 2px solid $color-link-default;
		color: $color-link-hover;
	}
}
