/**
 * Links
 */

a {
	transition: $default-transition;
	cursor: url(/assets/img/cursors/middle-finger@0,5x.png) 10 2, pointer !important;

	&, &:link {
		color: $color-link-default;
		text-decoration: none;
	}

	&:visited {
		color: $color-link-visited;
		text-decoration: none;
	}

	&:hover, &:focus {
		color: $color-link-hover;
	}

	&:active {
		color: $color-link-active;
	}
}

.pagination {}

.pagination-btn {
	/* @include fancyLinks($color-secondary, $color-bg); */
	margin-right: 1rem;
}
