---
layout: default
title: Blog - Zander Martineau
---

{% for post in site.posts %}
	<article class="entry">
		<h1 class="entry--title"><a href="{{ post.url }}" title="Read {{ post.title }}">{{ post.title }}</a></h1>
		<time class="entry--date text-centre">{{ post.date | date_to_string }}</time>

		{% if post.image %}
			<figure>
				<img src="/img/posts/{{ post.image }}" alt="{{ post.title }}">
			</figure>
		{% endif %}

		{{ post.excerpt }}
	</article>
{% endfor %}

	<!-- Pagination links -->
	<div class="pagination">
		{% if paginator.previous_page %}
			<a href="/blog/page{{ paginator.previous_page }}" class="previous">Newer</a>
		{% else %}
			<span class="previous">Previous</span>
		{% endif %}
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
			<a href="/blog/page{{ paginator.next_page }}" class="next">Older</a>
		{% else %}
			<span class="next">Next</span>
		{% endif %}
	</div>