.home-primary {
	position: relative;

	@include respond-min($breakpoint-single-col) {
		height: 100%;
		min-height: 550px;
	}
}

/*
   About me
   ========================================================================== */
.me {
	background-image: url(/img/about/me.jpg);
	min-height: 420px;

	@include respond-max($breakpoint-single-col) {
		float: none;
		width: 100%;
		min-width: 100%;
	}

}
.me-name {
	margin: 0;
	@include font-size(27);
	line-height: 1.2;
	font-weight: normal;
	color: $color-primary;

	@include respond-min($breakpoint-wide) {
		@include font-size(40);
	}
}
.me-desc {
	margin: 0;
	@include font-size(22);
	color: $color-primary;
	font-weight: normal;
}
.me-logo {
	// margin-bottom: 20px;
	width: 50px;
	height: 33px;
	display: inline-block;
	background-size: contain;
	position: absolute;
	bottom: 1em;
	right: 1em;
	// left: 50%;
	// margin-left: -25px;

	@include respond-min($breakpoint-wide) {
		width: 88px;
		height: 58px;
		// margin-bottom: 40px;
		// margin-left: -44px;
	}
}
