%home-item {
	position: relative;
	text-align: center;
	background-size: cover;
	padding: 20px;
	background-position: center center;
	background-repeat: no-repeat;

	@include respond-min($breakpoint-single-col) {
		height: 100%;
		min-height: 100%;
		padding: 80px 40px;
	}

}

.home-primary {
	position: relative;

	@include respond-min($breakpoint-single-col) {
		height: 75%;
		min-height: 550px;
	}
}

/*
   About me
   ========================================================================== */
.me {
	background-image: url(/img/about/me.jpg);
	@extend %home-item;
	min-height: 420px;

	@include respond-min($breakpoint-single-col) {
		width: 31%;
		float: left;
	}
}
.me-name {
	margin: 0;
	@include font-size(27);
	line-height: 1.2;

	@include respond-min($breakpoint-wide) {
		@include font-size(40);
	}
}
.me-desc {
	margin: 0;
	@include font-size(22);
	color: #818A92;
	// line-height: 1;
}
.me-logo {
	margin-bottom: 20px;
	width: 50px;
	height: 33px;
	display: inline-block;
	background-size: contain;

	@include respond-min($breakpoint-wide) {
		width: 88px;
		height: 58px;
		margin-bottom: 40px;
	}
}


/*
   Latest entries
   ========================================================================== */



.visitBlog {
	position: relative;
	display: block;
	display: none;
	height: 80px;
	text-align: center;
	line-height: 80px;
	overflow: hidden;

	&:hover {
		.overlay--img {
			transform: scale(1.2);
		}
	}
}
.visitBlog-copy {
	position: relative;
	color: #fff;
	color: rgba(#fff, 0.8);
}
