---
layout: default
title: Lab - Zander Martineau
pageid: lab
section: lab
---
<main class="entries entries--blog clearfix">
	{% include header.html title=page.title %}

	{% for item in site.lab %}
		<a href="{{item.url}}" title="Read {{item.title}}" class="verticalTile verticalTile--list">
			<div class="overlay overlay--img" style="background-image: url(/img/posts/bg/{{item.image}})"></div>
			<div class="overlay overlay--dark"></div>
			<h1 class="verticalTile-title">{{item.title}}</h1>
			<p class="verticalTile-excerpt">{{item.excerpt}}</p>
			<h3 class="verticalTile-cta">Read now</h3>
		</a>
	{% endfor %}
</main>
