{% include html_start.html %}
	<body class="{{ page.pageid }}">

		<section class="hero-unit">
			<div class="hero-unit-inner">
				<h1><strong>Zander Martineau</strong></h1>
				<p>I work for <a href="http://tmw.co.uk">TMW</a> as a Creative Technologist. CSS/Sass, HTML and Javascript are my current weapons of choice and I think I might be a little addicted to <a href="http://github.com/mrmartineau">Github</a>, <a href="http://codepen.io/mrmartineau">Codepen</a> and <a href="http://pinboard.in/u:mrmartineau">Pinboard</a>&hellip;</p>
			</div>
		</section>

		<!--  === MASTHEAD ===  -->
		{% include masthead.html %}

		<!--  === MAIN CONTENT ===  -->
		<section id="main" role="main">
		</section>

		{{ content }}

{% include html_end.html %}