{% include html_start.html %}
	<body class="{{ page.pageid }}">

		<section class="hero-unit">
			<div class="hero-unit-inner">
				<h1 class="text-centre">Hello, my name is <br> <strong>Zander Martineau</strong></h1>
				<p class="text-centre">What you see below is the result of my efforts working as a Creative Technologist at <a href="http://tmw.co.uk">TMW</a> and <a href="http://neverbland.com">NEVERBLAND</a>/freelance before that. As well as 'work' I also maintain <a href="http://github.com/MrMartineau" title="View my Github profile">a bunch</a> of open source projects, most notably <a href="http://tmwagency.github.io/kickoff/">Kickoff</a>, a powerful, responsive front-end framework; you should try it out if you're starting a new project&hellip;</p>
			</div>
		</section>

		<!--  === MASTHEAD ===  -->
		{% include masthead.html %}

		<!--  === MAIN CONTENT ===  -->
		<section id="main" role="main">
		</section>

		{{ content }}

{% include html_end.html %}