---
section: blog
type: article
layout: default
---
<main role="main">
	<article class="article h-entry" role="article" itemscope itemtype="http://schema.org/Article">
		<meta itemprop="author" content="{{ site.myname }}">

		{% include header.html title=page.title subtitle=page.excerpt class="header--article" %}

		<div class="l-container content content--article e-content" itemprop="articleBody">
			{{ content }}

			{% if page.comments %}
				<div class="comments">
					<div id="disqus_thread"></div>
				</div>
			{% endif %}

			<hr class="hr--short">

			<!-- Pagination links -->
			<div class="pagination clearfix">
				{% if page.previous %}
					<a href="{{page.previous.url}}" class="pagination-btn pagination-btn--old">Previous</a>
				{% endif %}
				{% if page.next %}
					<a href="{{page.next.url}}" class="pagination-btn pagination-btn--new">Next</a>
				{% endif %}
			</div>
		</div>
	</article>
</main>
