{% include html_start.html %}
	<body class="{{ page.pageid }}">
		{% include masthead.html %}

		<article class="entry">
			<div class="verticalTile verticalTile--blogEntry">
				<div class="overlay overlay--img" style="background-image: url(/img/posts/bg/{{ page.image }})"></div>
				<div class="overlay overlay--dark"></div>
				<time class="verticalTile-date">{{page.date | date_to_string}}</time>
				<h1 class="verticalTile-title">{{page.title}}</h1>
				<p class="verticalTile-excerpt">{{page.excerpt}}</p>

				{% if page.original %}
					<p class="verticalTile-original">Originally posted at: <br> <a href="{{page.original.url}}">{{page.original.text}}</a></p>
				{% endif %}

				{% if page.link %}
					<p class="verticalTile-link"><a href="{{page.link.url}}">{{page.link.text}}</a></p>
				{% endif %}

				{% if page.github %}
					<div class="github-details">
						<iframe src="http://ghbtns.com/github-btn.html?user={{page.github.user}}&repo={{page.github.repo}}&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="30"></iframe>
					</div>
				{% endif %}
			</div>

			<div class="content">
				<div class="content-inner">
					{{ content }}

					{% if page.comments %}
						<div id="disqus_thread"></div>
						<script type="text/javascript">
						{% if page.comments_old %}
							var disqus_shortname = 'rathersplendidblog';
						{% else %}
							var disqus_shortname = 'martineau-tv';
						{% endif %}
						{% if page.comments_id %}
							var disqus_identifier = '{{ page.comments_id }}'; // required: replace example with your forum shortname
						{% endif %}
							(function() {
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					{% endif %}
				</div>

				<!-- Pagination links -->
				<div class="pagination clearfix">
					{% if page.previous %}
						<a href="{{page.previous.url}}" class="pagination-btn pagination-btn--old">Older</a>
					{% endif %}
					{% if page.next %}
						<a href="{{page.next.url}}" class="pagination-btn pagination-btn--new">Newer</a>
					{% endif %}
				</div>
			</div>
		</article>


{% include html_end.html %}
