.avatar {
	display: block;
	background-image: url(/assets/dist/img/about/avatar.jpg);
	background-size: cover;
	background-position: center center;
	margin: 0 auto 1rem;
	order: 1;
	// border-radius: 50% 0;
}

.avatar--lrg {
	width: 6rem;
	height: 6rem;
}
