.footer {
	background-color: #fff;
	padding: $common-spacing 0;

	a:not([class]) {
		padding: 1px 3px;
		word-wrap: break-word;

		@include fancyLinks($color-secondary, $color-frame);
	}
}

.footer-links-item {
	margin-left: 1rem;
	margin-right: 1rem;
	white-space: nowrap;



	&:first-child {
		margin-left: 0;
	}
}
