.footer {
	background-color: #fff;
	padding: ($common-spacing * 3) 0 $common-spacing;

	a:not([class]) {
		padding: 1px 3px;
		word-wrap: break-word;

		@include fancyLinks($color-secondary, $color-frame);
	}
}
