.header {
	position: relative;
	text-align: center;
	background-color: $color-frame;
	padding: 3rem 0;
	background-size: cover;
	background-position: center center;

	.header-inner {
		display: flex;
		flex-direction: column;
	}

	// &--home {
	// 	padding: 6rem 0;
	// }
}

.header-avatar,
.header-img,
.header-logo {
	width: 8rem;
	background-size: cover;
	background-position: center center;
	margin: 0 auto 1rem;
	order: 1;
}

.header-img {
	height: 8rem;
	border-radius: 50%;
}

.header-logo {
	fill: $color-text;
	height: 4rem;
}

.header-title {
	margin: 0;
	order: 2;

	@include respond-max(mid) {
		@include font-size(50);
	}

	&--work {
		// text-transform: uppercase;
	}
}

.header-meta {
	order: -1;
	text-transform: uppercase;
	@include font-size(12);
	font-weight: bold;
	opacity: .7;
}

.header-subtitle {
	order: 3;
	opacity: .8;
	margin-top: 0;
	@include font-size($type-mid);
}

.header-canonical {
	order: 4;
	opacity: .7;
	@include font-size($type-smaller);
	margin-bottom: 0;
	margin-top: .5rem;
}

.header-copy {
	order: 4;
	margin-bottom: 0;
	// margin-top: $baseline;

	a:not([class]) {
		padding: 1px 3px;
		word-wrap: break-word;

		@include fancyLinks($color-secondary, $color-frame);
	}
}
