.masthead {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background-color: $color-frame;
	z-index: $z-frame;
	padding: 1rem ($common-spacing / 2);
	display: flex;
	justify-content: space-between;

	@include respond-min(mid) {
		padding: 1rem $common-spacing;
	}
}

.logo {
	// position: absolute;
	// left: 10px;
	// top: 13px;
	// height: 35px;

	&:hover {
		animation: wiggle 200ms linear 1;
		fill: $color-link-hover-alt;
	}

	span {
		display: none;
		opacity: 0;
		margin-left: 55px;
		line-height: 30px;
		transition: $default-transition;
		vertical-align: top;
	}

	// @include respond-min(mid) {
	// 	display: block;
	// 	margin: 40px auto 20px;
	// 	position: static;

	// }
}

.logo-icon {
	width: 80px;
	height: 40px;
	fill: $color-secondary;
	vertical-align: middle;

	// @include respond-min(mid) {
	// 	height: $common-spacing;
	// }
}


.nav { }

.nav-link {
	// text-transform: uppercase;
	margin-left: 10px;
	display: inline-block;
	@include font-size($type-small);

	&.is-active {
		color: $color-secondary;
	}
}

.footer-social {
	display: inline-block;
	vertical-align: top;

	@include respond-max(mid) {
		line-height: 56px;
		margin-left: 10px;

		.home & {
			position: absolute;
			top: 370px;
			left: 10px;
		}
	}

	@include respond-min(mid) {
		position: absolute;
		bottom: 1em;
		top: auto;
		left: 0;
		right: 0;
	}
}
