.nav--masthead {
	text-align: right;

	.nav-link {
		margin-left: 1rem;
	}
}

.nav--footer {

	.nav-link {
		margin-right: 1rem;
	}
}

.nav-link {
	display: inline-block;
	// @include font-size($type-small);

	&.is-active {
		color: $color-secondary;
	}
}


/**
 * Nav social
 */

.navSocial {
	margin-top: 1rem;
}

.navSocial-link {
	margin-right: 1rem;
}

.navSocial-link-icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	fill: $color-primary;
}

.icon-npm:hover {
	fill: #cb3837;
}

.icon-twitter:hover {
	fill: $color-twitter;
}

.icon-github:hover {
	fill: #000;
}

.icon-libsio:hover {
	fill: #000;
}
